@import 'src/foundation/settings';
@import 'node_modules/foundation-sites/scss/foundation';
@import 'node_modules/motion-ui/src/motion-ui';

@include motion-ui-transitions;
@include motion-ui-animations;

@include foundation-everything;

html,
body,
#__next {
  height: 100vh;
  width: 100vw;

  display: flex;

  #cookie-consent {
    top: 5vh !important;
    right: 3vw !important;
    left: auto !important;
  }

  .container {
    width: 75vw;
    margin: auto;
    text-align: center;

    form {
      text-align: left;

      .error-text {
        color: red;
      }
    }

    #create-game {
      .tabs-content {
        margin-bottom: 1rem;
      }
    }
  }
}
